* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #309794;
}

.password {
  position: relative;
  width: 100%;
  display: flex;
}
.heading {
  font-size: 3rem;
}
#root {
  font-family: Arial, Helvetica, sans-serif;
  }

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  padding: 24px 45px 24px 45px;
  background-color: white;

  height: 100%;
  width: 45%;
  border-radius: 20px;
  flex-direction: column;
  gap: 20px;
}
.main img {
  height: 100px;
  /* to */
}
.password {
  gap: 10px;
}
.show-password-para {
  display: block;
  height: 38px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 11px;
  width: 80%;
}

.red {
  color: rgb(225, 77, 77);
  font-weight: 600;
  margin-top: -18px;
  width: 100%;
  text-align: left;
}
.blue {
  color: rgb(23, 115, 151);
  margin-top: -18px;
  width: 100%;
  text-align: left;
  font-weight: 600;
}
.green {
  color: rgb(4, 86, 4);
  margin-top: -18px;
  width: 100%;
  text-align: left;
  font-weight: 600;
}

input[type="range"] {
  accent-color: #309794;
  width: 100%;
  /* border: 2px solid black; */
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 2px solid #000000;
  accent-color: #309794;

  padding: 9px;

  border-radius: 15px;
  cursor: pointer;
  margin-top: -7px;
}

input[type="range"]::-webkit-slider-runnable-track {
  border: 1px solid black;

  border-radius: 10px;
  height: 10px;
}

input[type="checkbox"] {
  /* background-color: red; */
  accent-color: #309794;
  height: 18px;
  width: 18px;
}
.checkboxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

i {
  position: absolute;
  right: 113px;
  top: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

i:active {
  transition: ease-in 700ms;
  transform: rotate(365deg);
}

.length-para {
  text-align: right;
  position: right;
  margin-left: -330px;
}

/* Copy Button CSS from Internet */
.Btn {
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);
  cursor: pointer;
}

.text {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(2, 153, 153);
}

.svgIcon {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: teal;
}

.Btn:hover .text {
  background-color: rgb(0, 133, 133);
}

.Btn:hover .svgIcon {
  background-color: rgb(0, 105, 105);
}

@media only screen and (max-width:600px) {
  .main {
        font-size: 22px;
    width: 95vw;
    height: 100vh;
    gap: 25px;
    margin: 45px auto;
    /* margin: auto; */
    padding: 16px;
    /* margin: 200px auto; */
  }
  .length-para {

    
    display: flex;
    justify-content: left;
    margin: 0 auto; 
    
    width: 100%;
    
  }
  i{
    right: 26px;
    background-color: white;
  }
  .password{
    flex-direction: column;
    align-items: center;
  }
  .password p,button{
    width: 75vw;
    overflow: hidden;

  }
  .password p{
    padding-right: 8px;
  }
  h2{
    text-align: center;
  }
  p{
    text-align: center;
    line-height: 22px;
    
  }
  #psw-strength{
    /* margin-top: -50px; */
  }
}
